<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= data.novel_name+' '+data.title %></title>
    <style>
        .fl{
            width: 33.33%;float: left;text-align: center;
        }
        .fl a{
            text-decoration:none;
            color: #333;
        }
    </style>
</head>
<body style="font-family: 'Segoe UI';margin: 0;">
<h3 style="text-align: center"><%= data.title %></h3>
<div id="content" style="color: green;padding: 0 15px"><%- data.content %></div>
<div style="    background: #b0e6c6;
    width: 100%;
    float: left;margin: 20px 0 0 0">
    <p class="fl"><a href="<%- data.prev %>">上一章</a></p>
    <p class="fl" ><a onclick="goDirectory();">返回目录</a></p>
    <p class="fl" ><a href="<%- data.next %>">下一章</a></p>
</div>
<script src="/js/touch.js"></script>
<script>
    const data = <%- JSON.stringify(data) %>;
    addFn('content','left', function () {
        location.href = data.next;
    });
    addFn('content','right', function () {
        location.href = data.prev;
    },true);

    document.onkeydown = function(e){
        let ev = document.all ? window.event : e;
        if(ev.keyCode==37) {
            location.href = data.prev;
        }
        if(ev.keyCode==39) {
            location.href = data.next;
        }
    };

    my_tap(document.getElementById('test'),goDirectory);
    function goDirectory() {
        location.href = '/?id=' + data.directory.toString().replace(/\//g, '');
    }

    function my_tap(dom,callBack){
        var startTime=0;
        var delayTime=200;
        var isMove=false;
        dom.addEventListener("touchstart",function(){
            startTime=Date.now();
        });
        dom.addEventListener("touchmove",function(){
            isMove=true;
        });
        dom.addEventListener("touchend",function(event){
            if(isMove) return;
            if(Date.now()-startTime>delayTime) return;
            callBack(event);
        });
    }


</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        axios.post('/collect/bookmark',{bookmark:`${data.novel_name+'-'+data.title}`,href:data.directory+data.id})
</script>
</body>
</html>