
    <style>
        @media screen  and (max-width: 500px) {
            .search-form {
                width: 100% !important;
            }
        }
    </style>


<%- include('search-input'); %><p>最新章节</p><% for ( var i in data.directory.newsArr ) { %>
<div content="fl"><a href="<%= data.directory.newsArr[i].id %>"><%= data.directory.newsArr[i].name %></a></div>
<% } %><p>正文卷</p><% for ( var i in data.directory.arr ) { %>
<div content="fl"><a href="<%= data.directory.arr[i].id %>"><%= data.directory.arr[i].name %></a></div>
<% } %>
