<style>
    .search-form {
        margin: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 577px;
        overflow: hidden;
    }

    .footer {
        margin: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(-50%);
        width: 577px;
        overflow: hidden;
    }

    .history a {
        display: block;
    }

    .model {
        display: none;
    }
</style>
<div>
    <%- include('search-input'); %>
    <%- include('history'); %>

    <div class="model">
        <%- include('login-register'); %>
    </div>
    <div class="footer">
        <div class="padding-content">
            <div>登陆</div>
            <div>注册</div>
        </div>
    </div>
</div>
