<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>柯基小说网</title>
    <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
    <link href="/css/common.css" rel="stylesheet">
    <style>
        .search-form {
            margin: auto;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 577px;
            overflow: hidden;
        }
    </style>
</head>
<body>

<%- include('search-input'); %>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $.ajax({
        url: '/user/logi1n',
        method: 'post',
        data:{
          a:'1'
        },
        success:function(res){
            $('#content').text(JSON.stringify(res))
            console.log(res);
        }
    });

</script>
</body>
</html>