<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="baidu-site-verification" content="TyijHAkwOS"/>
    <meta name="keywords" content="柯基小说网 无弹窗 每日更新 热门小说">
    <meta name="description" content="柯基小说网,无弹窗,每日更新,热门小说">
    <title><%= data.html_title %></title>
    <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%- body %>
<h1 style="display: none">柯基小说网</h1>
<a href="/" style="display: none">柯基小说网</a>
</body>
</html>

